<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/Content/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="menu">
        <div id="menu_top">
            <ul class="ul2">

                <li><a href="#" title="TRANG CHỦ" class="active"><img src="images/22-220966_phone-icon-png-red-icon-in-thoi-png.png" width="20px"><b>040495903</b>(HN)-<b>354754748574</b>(HCM) </a></li>
                <li><a href="#" title="GIỚI THIỆU">Liên hệ quản cáo</a></li>

            </ul>
            <ul class="ul1">
                <li><a href="#" title="TIN TỨC" class="like"><img src="/Content/images/dau-tich-xanh-facebook-tren-facebook-la-gi-lam-sa-28-760x367.jpg" width="70px" height="30px"></a></li>
                <li><a href="#" title="TIN TỨC" class="like"><img src="/Content/images/download.png" width="70px" height="30px"> </a></li>
                <li><a href="#" title="TIN TỨC" class="like"><img src="/Content/images/youtube_gdcl.jpg" width="70px" height="30px"></a></li>

            </ul>

        </div>
        <div id="menu_top1">
            <ul>
                <li>
                    <a href="#">Đăng nhập</a>

                </li>
                <li>
                    <a href="#">Đăng ký</a>

                </li>

                <li class="seach">

                    <a href="#"><input type="text" placeholder="Search here"> </a>

                </li>

            </ul>
        </div>

    </div>




    <div id="logo">
        <div id="logo1">
            <img src="/Content/images/Logo_Vnexpress.png">
        </div>
        <div id="logo2">
            <img src="/Content/images/banner-ads-1.png">
        </div>
        <div id="logo3">
            <img src="/Content/images/banner-ads-2.png">
        </div>
    </div>



    <div id="ben">
        <ul>
            <li><a href="#" title="GIỚI THIỆU"><img src="images/download (1).png" width="30px"></a></li>
            <li><a href="#" title="GIỚI THIỆU">Thời sự</a></li>
            <li><a href="#" title="GIỚI THIỆU">Thế giới</a></li>
            <li><a href="#" title="GIỚI THIỆU">Kinh doanh</a></li>
            <li><a href="#" title="GIỚI THIỆU">Giải trí</a></li>
            <li><a href="#" title="GIỚI THIỆU">Thể thao</a></li>
            <li><a href="#" title="GIỚI THIỆU">Pháp Luật</a></li>
            <li><a href="#" title="GIỚI THIỆU">Giáo dục</a></li>
            <li><a href="#" title="GIỚI THIỆU">Sức khỏe</a></li>
            <li><a href="#" title="GIỚI THIỆU">Gia Đình</a></li>
            <li><a href="#" title="GIỚI THIỆU">Du lịch</a></li>
            <li><a href="#" title="GIỚI THIỆU">Khoa học</a></li>
            <li><a href="#" title="GIỚI THIỆU">Số Hóa</a></li>
            <li><a href="#" title="GIỚI THIỆU">Xe</a></li>
            <li><a href="#" title="GIỚI THIỆU">Cộng Đồng</a></li>
            <li><a href="#" title="GIỚI THIỆU">Tâm sự</a></li>
            <li><a href="#" title="GIỚI THIỆU">Video</a></li>
            <li><a href="#" title="GIỚI THIỆU">Cười</a></li>
            <li><a href="#" title="GIỚI THIỆU">Rao Vặt</a></li>
        </ul>






    </div>

    <div id="main">
        <div id="left">
            <div id="trangchu">
                <button>Trang chủ</button>


            </div>
            <div class="news">
                <div>
                    <img src="/Content/images/thumnails.png" width="580px" height="500px" />
                </div>
                <div class="news">

                    <div class="news_text">
                        <h2><b>Thủ tục xét đặc cách tốt nghiệp THPT</b></h2>
                        Bộ GD-ĐT vừa ban hành Quyết định số 1584 về việc công bố thủ tục hành chính
                        được thay thế lĩnh vực thi, tuyển sinh thuộc phạm vi chức năng quản lý của Bộ này. Theo đó, trình tự thủ tục xét đặc cách tốt nghiệp THPT gồm: thí sinh nộp hồ sơ đặc
                        cách cho thủ trưởng đơn vị nơi thí sinh đăng
                        <li>Túi tiền tranh cử của bà Clinton nagwj gấp đôi tỷ phú trump</li>
                    </div>
                </div>
            </div>
        </div>
        <div id="misss">
            <div id="eng">
                <button>English</button>

            </div>
            <div id="noidung">
                <ul>
                    <li><a>Đài loan đóng cửa trường học vì bão Megi</a></li>
                    <li><a>Những đứa trẻ sống vật chất</a></li>
                    <li><a>tỷ giá tiền đồ và euro</a></li>
                    <li><a>lỗ hổng ios giúp hacker dễ dàng xâm nhập</a></li>
                    <li><a>giá xăng dầu giảm sốc dân chúng đổ sô đi mua khoai</a></li>
                </ul>

            </div>
            <div id="bot">
                <button id="gocnhin">Góc nhìn</button>
                <img class="im" src="/Content/images/mualu.jpg" width="100px" height="100px">
                <div id="news_text1">
                    <h2>
                        <b>Thất thủ trước cơn mưa  </b>

                    </h2>
                    hàng triệu người bất lực dưới một cơn mưa hay còn bởi điều gì khác

                </div>

            </div>

        </div>
        <div id="right">

            <ul>
                <li><a href="#" title="TRANG CHỦ" class="active">thứ ba27/9/2016|09:16 GMT+7</a></li>
                <li><a href="#" class="id">24H QUA</a></li>
                <li><a href="#" class="id">RSSSS</a></li>

            </ul>

            <div class="imgh">
                <img src="/Content/images/right-ads-1.png">

            </div>
            <div class="imgh">
                <img src="/Contentimages/right-ads-2.png">

            </div>
            <div class="imgh">
                <img src="/Content/images/right-ads-3.png">

            </div>
        </div>

    </div>



</body>
</html>